#!/bin/bash

{{ if eq .chezmoi.osRelease.id "arch" -}}

FILE="$HOME/.local/share/chezmoi/scripts/packages.yaml"
--file=/dev/stdin <<EOF

{{ range .packages.arch.yay -}}

yay -S -noconfirm {{ . | quote }}

{{ end }}
EOF
{{ end }}
