#! /usr/bin
echo "loading .bash_profile..."

{{- if eq .chezmoi.hostname "trocadero" }}
echo "host is {{ .chezmoi.hostname }} "
{{- end }}

{{- if eq .chezmoi.hostname "pommac" }}
echo "host is {{ .chezmoi.hostname }} "
{{- end }}

# Sets environment variables
set -o allexport
source ~/.env
set +o allexport

ANTROPIC_BASE_URL=https://openrouter.ai/api
CLAUDE_MODER=meta-llama/llama-3.3-70b-instruct:free

