Hi! I am {{ .name }}, also knowna as {{ .chezmoi.group }}

{{- if eq .chezmoi.hostnam "trocadero" }}
hostname is {{ .chezmoi.hostname }}
{{- end }}

I speak:
{{ range .language }}
* {{ . }}
{{ end }}
