Hi! I am {{ .chezmoi.data.name }}, also knowna as {{ .chezmoi.group }}

{{- if eq .chezmoi.hostname "trocadero" }}
Jag är på jobbet just nu
{{- end }}

{{- if eq .chezmoi.hostname "pommac" }}
Jag är hemma just nu
{{- end }}

I speak:
{{ range .language }}
* {{ . }}
{{ end }}
