#!/bin/bash
{{- if eq .chezmoi.os "linux" }}

# Arch Linux — install packages via yay
if command -v yay &>/dev/null; then
  echo "Installing Arch packages with yay..."

  packages=(
autojump
base
base-devel
bitwarden-cli
blueman
bluez
bluez-utils
btop
btrfs-progs
bun
chezmoi
claude-code
claude-desktop-appimage
code
dolphin
dunst
efibootmgr
eza
fastfetch
feh
firefox
fyi
fzf
git
grim
grub
gst-plugin-pipewire
gvim
htop
hypridle
hyprland
hyprlock
hyprpaper
hyprshot
intel-media-driver
intel-ucode
kitty
less
libpulse
librewolf-bin
libva-intel-driver
linux-firmware
linux-lts
maven
nano
network-manager-applet
networkmanager
nextcloud-client
obsidian
otf-font-awesome
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
podman
podman-compose
polkit-kde-agent
python-pip
qt5-wayland
qt6-wayland
reflector
sddm
slurp
smartmontools
sof-firmware
sudo
swaync
unzip
uwsm
virtualbox
vulkan-intel
vulkan-nouveau
vulkan-radeon
waybar
wget
wikiman
wireplumber
woff2-font-awesome
wofi
wpa_supplicant
xdg-desktop-portal-hyprland
xdg-utils
xf86-video-amdgpu
xf86-video-ati
xf86-video-nouveau
yay
yay-debug
zip
zram-generator
    # add more packages here
  )

  yay -S --noconfirm --needed "${packages[@]}"
fi
{{- end }}
